Repository jhnc-oss/github-mirror, pull requests merged in 2022-09, with the labels that each got.

#52 Update docs
  README.md
Labels: documentation

#53 Provide mirror of meta-intel
  .github/workflows/mirror.yml
Labels: new-mirror

#55 Provide mirror of meta-conan
  .github/workflows/mirror.yml
Labels: mirror-update
